.nav{
    display: flex;
    gap: 2rem;
   
    
}
.viv{
     
     padding-left: 50px;
     padding-right: 450px;
} 
.aa{
    padding-top: 2rem;
   }
   .aa :hover{
    color: blue;
   }
   .nan{
    text-decoration: none;
   }